{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>{{ title }}</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'index/img/core-img/spud.png' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'index/css/core-style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'index/style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'index/css/dac.css' %}">

    <style type="text/css">
        .spud-logo{
            width: 50px;
            height: 30px;
        }
        .spud-logo-bottom{
            width: 50px;
            height: 50px;
        }
        .qty_avail{
            width: 20px;
        }
        .commodityPic{
            width: 70px;
            height: 70px;
        }
        .notdelivered{
            color: green;
        }
    </style>
    <script src="{% static '/index/js/jquery/jquery-2.2.4.min.js' %}"></script>
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand spud-logo" href="{% url 'index' %}"><img src="{% static 'index/img/core-img/spud.png' %}" alt=""></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">

                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="#">Shop</a>
                                <div class="megamenu">
                                    {% for tag in tags %}
                                    <ul class="single-mega cn-col-4">
                                        
                                        <!-- <li class="title">{{tag.name}}</li> -->
                                        <li><a href="{% url 'shop' category=tag.name %}" style="text-transform:capitalize;">{{tag.name}}</a></li>
                                        
                                    </ul>
                                    {% endfor %}
                                    <!-- <ul class="single-mega cn-col-4">
                                        <li class="title">Men's Collection</li>
                                        <li><a href="{% url 'shop' category='dress' %}">T-Shirts</a></li>
                                        <li><a href="{% url 'shop' category='dress' %}">Polo</a></li>
                                        <li><a href="{% url 'shop' category='dress' %}">Shirts</a></li>
                                        <li><a href="{% url 'shop' category='dress' %}">Jackets</a></li>
                                        <li><a href="{% url 'shop' category='dress' %}">Trench</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">Kid's Collection</li>
                                        <li><a href="{% url 'shop' category='dress' %}">Dresses</a></li>
                                        <li><a href="{% url 'shop' category='dress' %}">Shirts</a></li>
                                        <li><a href="{% url 'shop' category='dress' %}">T-shirts</a></li>
                                        <li><a href="{% url 'shop' category='dress' %}">Jackets</a></li>
                                        <li><a href="{% url 'shop' category='dress' %}">Trench</a></li>
                                    </ul> -->
                                    <div class="single-mega cn-col-4">
                                        <img src="{% static 'index/img/bg-img/bg-6.jpg' %}" alt="">
                                    </div>
                                </div>
                            </li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            {% if request.user.is_authenticated %} 
                                <li><a href="{% url 'signout' %}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'signup' %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area">
                    <form action="{% url 'search' %}" method="post">
                        {% csrf_token %}
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <!-- Favourite Area -->
                <div class="favourite-area">
                    <a href="{% url 'wishlist' %}"><img src="{% static 'index/img/core-img/heart.svg' %}" alt=""></a>
                </div>
                <!-- User Login Info -->
                <div class="user-login-info">
                     
                    <a href="{% if request.user.is_authenticated %}{% url 'account' %}{% else %}{% url 'signin' %}{% endif %}"><img src="{% static 'index/img/core-img/user.svg' %}" alt=""></a>
                </div>
                <!-- Cart Area -->
                <div class="cart-area">
                    <a href="#" id="essenceCartBtn"><img src="{% static 'index/img/core-img/bag.svg' %}" alt=""> <span class="cartlength">{{ cart | length }}</span></a>
                </div>
            </div>

        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->
    <div class="cart-bg-overlay"></div>
    {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
                <li{% if message.tags %} class="{{message.tags}}" {% endif %}>
                    {{message}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <template id="cartitemtemplate">
        {% verbatim %}
        <div class="single-cart-item" id="cart{{id}}">
            <a href="/product/{{id}}" class="product-image">
                <img src="{{ picture1 }}" class="cart-thumb" alt="">
                <!-- Cart Item Desc -->
                <div class="cart-item-desc">
                  <!-- <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span> -->
                    <span class="badge">Spud Stitches</span>
                    <h6>{{ title }}</h6>
                    <p class="size">Size: {{ size }}</p>
                    <p class="color">Color: {{ color }}</p>
                    <p class="color">Qty: {{ quantity }}</p>
                    <p class="price">#{{ price }}</p>
                </div>
            </a>
        </div>
        {% endverbatim %}
    </template>
    <div class="right-side-cart-area">

        <!-- Cart Button -->
        <div class="cart-button">
            <a href="#" id="rightSideCart"><img src="{% static 'index/img/core-img/bag.svg' %}" alt=""> <span class="cartlength">{{ cart | length }}</span></a>
        </div>

        <div class="cart-content d-flex">

            <!-- Cart List Area -->
            <div class="cart-list">
                <!-- Single Cart Item -->
                {% for key, item in cart.items %}
                    <div class="single-cart-item" id="cart{{key}}">
                        <a href="{% url 'product' key %}" class="product-image">
                            <img src="{{ item.picture1 }}" class="cart-thumb" alt="">
                            <!-- Cart Item Desc -->
                            <div class="cart-item-desc">
                              <!-- <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span> -->
                                <span class="badge">Spud Stitches</span>
                                <h6>{{ item.title }}</h6>
                                <p class="size">Size: {{ item.size }}</p>
                                <p class="color">Color: {{ item.color }}</p>
                                <p class="color">Qty: {{ item.quantity }}</p>
                                <p class="price">#{{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <!-- Cart Summary -->
            <div class="cart-amount-summary">

                <h2>Summary</h2>
                <ul class="summary-table">
                    <li><span>subtotal:</span> <span class="subtotal">#0</span></li>
                    <li><span>delivery:</span> <span class="deliveryamount">{% if request.session.deliverycost %}#{{request.session.deliverycost}}{% else %}...{% endif %}</span></li>
                    <li><span>discount:</span> <span>-0%</span></li>
                    <li><span>total:</span><span class="total">#0</span></li>
                </ul>
                <div class="checkout-btn mt-100">
                    <a href="{% url 'checkout' %}" class="btn essence-btn">check out</a>
                    <a href="{% url 'cart' %}" class="btn essence-btn">Cart</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Right Side Cart End ##### -->

    {% block content %}

    {% endblock %}

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="{% url 'index' %}"><img src="{% static 'index/img/core-img/spud.png' %}" class="spud-logo-bottom" alt=""></a>
                        </div>
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="{% url 'shop' category='all' %}">Shop</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="{% url 'pending' %}">Order Status</a></li>
                            <li><a href="#">Payment Options</a></li>
                            <li><a href="#">Shipping and Delivery</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_heading mb-30">
                            <h6>Subscribe</h6>
                        </div>
                        <div class="subscribtion_form">
                            <form action="#" method="post">
                                <input type="email" name="mail" class="mail" placeholder="Your email here">
                                <button type="submit" class="submit"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_social_area">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

<div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Spud Stitches
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static '/index/js/jquery/mustache.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static '/index/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static '/index/js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static '/index/js/plugins.js' %}"></script>
    <!-- Classy Nav js -->
    <script src="{% static '/index/js/classy-nav.min.js' %}"></script>
    <!-- Active js -->
    <script src="{% static '/index/js/active.js' %}"></script>

    <script src="{% static '/index/js/dac.js' %}"></script>
    <script type="text/javascript">
        function mathround(number){
            number = parseFloat(number)
            li = number.toString()
            li = li.split('.')
            if(li.length==1) return li[0]
            // console.log(li)
            
            if(li[1].length==1) return number
            rn = li[1][2]
            if(rn>4){
                final = li[0]+'.'
                s = parseInt(li[1][0]+li[1][1])+1
                // console.log(s)
                if(s.toString().length>2){
                    final = parseFloat(final)+1
                }else{
                    final += s.toString()
                }
            }else{
                final = li[0]+'.'+li[1][0]+li[1][1] 
            }
            return final
        }
        $(document).ready(()=>{
            var cart = {{cart | safe}}
            var total = 0
            for(var item in cart){
                total += (cart[item]['price'] * cart[item]['quantity'])
            }
            subtotal = mathround(total)
            $('.summary-table .subtotal').text('#'+total)

            if ("{{request.session.deliverycost}}") {
                subtotal = {{request.session.deliverycost}} + parseFloat(subtotal)
            }
            $('.summary-table .total').text('#'+subtotal)
        })
    </script>
</body>

</html>