{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(/static/index/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-page-heading mb-30">
                            <h5>Billing Address</h5>
                        </div>

                        <form action="{% url 'checkout' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <!-- <div class="col-md-6 mb-3">
                                    <label for="first_name">First Name <span>*</span></label>
                                    
                                    <input type="text" class="form-control" id="first_name" name="name" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="last_name">Last Name <span>*</span></label>
                                    <input type="text" class="form-control" id="last_name" name="last_name" required>
                                </div>
 -->                            <div class="col-12 mb-3">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" value="{{request.user.first_name}} {{request.user.last_name}}" placeholder="First Name and Last Name" name="name">
                                </div>
                                <input type="hidden" class="form-control" value={{request.user.pk}} name="user" required>
                                <div class="col-12 mb-3">
                                    <label for="country">Country <span>*</span></label>
                                    <select class="w-100" id="country">
                                        <option value="nig">Nigeria</option>
                                    </select>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="street_address">Address <span>*</span></label>
                                    <input type="text" class="form-control mb-3" id="street_address" value="{{request.user.address}}" name="address">
                                </div>
                                <!-- <div class="col-12 mb-3">
                                    <label for="postcode">Postcode <span>*</span></label>
                                    <input type="text" class="form-control" id="postcode" value="">
                                </div> -->
                                <div class="col-12 mb-3">
                                    <label for="town">Town/City <span>*</span></label>
                                    <!-- <input type="text" class="form-control" id="city" name="town"> -->
                                    <select class="w-100 delivLoc" id="town" name="town" size="10" required>
                                        {% for loc in delivLoc1 %}
                                        <option value="{{loc}}">{{loc}}</option>
                                        {% endfor %}
                                        {% for loc in delivLoc2 %}
                                        <option value="{{loc}}">{{loc}}</option>
                                        {% endfor %}
                                        {% for loc in delivLoc3 %}
                                        <option value="{{loc}}">{{loc}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="phone_number">Phone No <span>*</span></label>
                                    <input type="number" class="form-control" id="phone_number" min="0" name="phoneno" value="{{request.user.phoneno}}">
                                </div>
                                <div class="col-12 mb-4">
                                    <label for="email_address">Email Address <span>*</span></label>
                                    <input type="email" class="form-control" id="email_address" value="{{request.user.email}}" name="email">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="payment">Payment Method <span>*</span></label>
                                    <select class="w-100" id="payment" required name="paymentmethod">
                                        <!-- <option value="paypal">Paypal</option> -->
                                        <option value="cash">On Delivery</option>
                                        <option value="cc">Card</option><!-- 
                                        <option value="Btransfer">Direct Bank Transfer</option> -->
                                    </select>
                                </div>
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox d-block mb-2">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1" required>
                                        <label class="custom-control-label" for="customCheck1">Terms and conitions</label>
                                    </div>
                                </div>

                                <input type="submit" class="btn essence-btn" value="Place Order">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                    <div class="order-details-confirmation">

                        <div class="cart-page-heading">
                            <h5>Your Order</h5>
                            <p>The Details</p>
                        </div>

                        <ul class="order-details-form mb-4">
                            <li><span><b>Product</b></span> <span>Total</span></li>
                            {% for key,item in cart.items %}
                                <li><a href="{% url 'product' key %}" style="font-weight: normal;"><span>{{item.title}}</span></a> <span>#{{item.price}} X {{item.quantity}}</span></li>
                            {% endfor %}
                            <li><span><b>Subtotal</b></span> <span class="subtotal">0</span></li>
                            <li><span><b>Delivery</b></span> <span class="deliveryamount">{% if request.session.deliverycost %}#{{request.session.deliverycost}}{% else %}...{% endif %}</span></li>
                            <li><span><b>Total</b></span> <span class="total">0</span></li>
                        </ul>
                        <!-- <a href="#" class="btn essence-btn">Place Order</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Script for subtotal calculation ##### -->
    <script type="text/javascript">
        function mathround(number){
            number = parseFloat(number)
            li = number.toString()
            li = li.split('.')
            if(li.length==1) return li[0]
            // console.log(li)
            
            if(li[1].length==1) return number
            rn = li[1][2]
            if(rn>4){
                final = li[0]+'.'
                s = parseInt(li[1][0]+li[1][1])+1
                // console.log(s)
                if(s.toString().length>2){
                    final = parseFloat(final)+1
                }else{
                    final += s.toString()
                }
            }else{
                final = li[0]+'.'+li[1][0]+li[1][1] 
            }
            return final
        }
        $(function(){
            var DBcart = {{cart | safe}}
            var tot = 0
            for(i in DBcart){
                tot += (DBcart[i].price * DBcart[i].quantity)
            }
            var deliv_fee = {{request.session.deliverycost}}

            $('.order-details-confirmation .subtotal').text('#'+mathround(tot).toString())
            $('.order-details-confirmation .total').text('#'+mathround(tot+deliv_fee).toString())

            $('.checkout_area .delivLoc').on('change', function(){
                var self = $(this)
                $.ajax({
                    url: '/api/deliverycost/',
                    method: 'POST',
                    data: {
                        location: self.val(),
                        'csrfmiddlewaretoken': $('.checkout_details_area form').find("input[name='csrfmiddlewaretoken']").val()
                    },
                    success: function(data){
                        // _here_ (Cart Details by the side)
                        $('.deliveryamount').text('#'+data.delivPrice)
                        $('.order-details-confirmation .total').text('#'+mathround(tot+data.delivPrice).toString())
                        

                        // base.html (Side cart Summary)
                        $('.cart-amount-summary .total').text('#'+mathround(tot+data.delivPrice).toString())
                    },
                    error: function(){
                        alert('Error')
                    }
                })
            })
        })
    </script>


{% endblock %}