{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="contact-area d-flex align-items-center">

        <!-- <div class="google-map">
            <div id="googleMap"></div>
        </div> -->

        <div class="contact-info">
            <h2>How to Find Us</h2>
            <p>Send us a mail, contact us via our phone number or pay us a visit.</p>

            <div class="contact-address mt-50">
                <p><span>address:</span> 16 Akintola Street Iwaya Onike Yaba, Lagos</p>
                <p><span>telephone:</span> +234 817 457 6314</p>
                <p><a href="mailto:contact@essence.com">spudstitches@gmail.com</a></p>
            </div>
        </div>

    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="js/map-active.js"></script>
{% endblock %}