{% extends 'base.html' %}

{% load static %}

{% block content %}

	<div class="checkout_area section-padding-80">
		<div class="container">
			<div class="row">

				<div class="col-12 col-md-6">
					<div class="checkout_details_area mt-50 clearfix">

						<div class="cart-page-heading mb-30">
							<h5>Create Account</h5>
						</div>

						<form action="{% url 'signup' %}" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-12 mb-3">
									<label for="username">Username</label>
									<input type="text" class="form-control mb-3" id="username" name="username">
								</div>
								<div class="col-12 mb-4">
									<label for="email_address">Email</label>
									<input type="email" class="form-control" id="email_address" name="email">
								</div>
								<div class="col-12 mb-3">
									<label for="firstname">First Name</label>
									<input type="text" class="form-control mb-3" id="firstname" name="first_name">
								</div>
								<div class="col-12 mb-3">
									<label for="lastname">Last Name</label>
									<input type="text" class="form-control mb-3" id="lastname" name="last_name">
								</div>
								<div class="col-12 mb-3">
									<label for="password1">Password</label>
									<input type="password" class="form-control mb-3" id="password1" name="password">
								</div>
								<div class="col-12 mb-3">
									<label for="password2">Confirm Password</label>
									<input type="password" class="form-control mb-3" id="password2" name="password2">
								</div>

								<div class="col-12">
									<div class="custom-control custom-checkbox d-block mb-2">
										<input type="checkbox" class="custom-control-input" id="customCheck1" required>
										<label class="custom-control-label" for="customCheck1">Terms and conitions</label>
									</div>
								</div>
								<div class="col-12 mb-3">
									<input type="submit" value="Register" class="btn essence-btn">
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
					<div class="order-details-confirmation">
						<form action="{% url 'signin' %}" method="post">
							{% csrf_token %}
							<div class="cart-page-heading">
								<h5>Login</h5>
									<div class="col-12 mb-3">
										<label for="username">Username</label>
										<input type="text" class="form-control mb-3" id="username" name="username">
									</div>
									<div class="col-12 mb-3">
										<label for="password">Password</label>
										<input type="password" class="form-control mb-3" id="password" name="password">
									</div>

									<a href="#" class="forgotpasslink">Forgot Password?</a>
									<br>
									<br>
								<div class="col-12 mb-3">
									<input type="submit" value="Login" class="btn essence-btn">
								</div>
							</div>
						</form>
					</div>


					<!-- Forget pass -->
					<div class="order-details-confirmation hide">
						<form action="{% url 'forgotpass' %}" method="post">
							{% csrf_token %}
							<div class="cart-page-heading">
								<h5>Forgot Password</h5>
									<div class="col-12 mb-3">
										<label for="username">Username</label>
										<input type="text" class="form-control mb-3" id="username" name="username">
									</div>

									<a href="#" class="forgotpasslink">Login</a>
									<br>
									<br>
								<div class="col-12 mb-3">
									<input type="submit" value="Reset Password" class="btn essence-btn">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			$('.ml-lg-auto .forgotpasslink').on('click', function(){
				$('.ml-lg-auto .order-details-confirmation').toggleClass('hide')
			})
		})
	</script>
	<!-- ##### Checkout Area End ##### -->
{% endblock %}