{% extends 'base.html' %}

{% load static %}


{% block content %}
    
    <!-- ##### Single Product Details Area Start ##### -->
    <section class="single_product_details_area d-flex align-items-center">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix">
            <div class="product_thumbnail_slides owl-carousel">
                <img src="{{commodity.picture1.url}}" alt="">
                <img src="{{commodity.picture2.url}}" alt="">
                {% if commodity.picture3 %}
                    <img src="{{commodity.picture3.url}}" alt="">
                {% endif %}
            </div>
        </div>

        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
            <span>Spud</span>

            <h2>{{commodity.title}}</h2>
            <p class="product-price">{% if commodity.formerprice %}<span class="old-price">#{{ commodity.formerprice }}</span>{% endif %} #{{ commodity.price }}</p>
            <p class="product-desc">{{ commodity.description }}</p>

            <!-- Form -->
            <form class="cart-form clearfix" id="{{commodity.id}}">
                {% csrf_token %}
                <input type="hidden" name="commodity" value="{{commodity.pk}}">
                <!-- Select Box -->
                <div class="select-box d-flex mt-50 mb-30">
                    <select name="select" id="productSize" class="mr-5">
                        {% for size in sizes %}
                            <option value="{{size}}">Size: {{size}}</option>
                        {% endfor %}
                    </select>
                    <select name="select" id="productColor">
                        {% for color in colors %}
                            <option value="{{color}}">Color: {{color}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Cart & Favourite Box -->
                <div class="cart-fav-box d-flex align-items-center" data-id="{{commodity.id}}">
                    <!-- Cart -->
                    
                    <button type="submit" name="addtocart" value="5" class="btn essence-btn">Add to cart</button>

                    <div class="product-favourite ml-4" style="margin-right: 12px;">
                        <a href="#" class="favme fa fa-heart fav {% if commodity.id in favourites %}active{% endif %}" data-action="{% if commodity.id in favourites %}remove{% else %}add{% endif %}" data-id="{{commodity.pk}}"></a>
                    </div>
                    <!-- Favourite -->
                    <input type="number" id="quantity" class="nice-select qty_avail" placeholder="Quantity" min="1" max="{{commodity.qty_avail}}">
                </div>
            </form>
        </div>
    </section>
    <!-- ##### Single Product Details Area End ##### -->
{% endblock %}