{% extends 'base.html' %}

{% load static %}


{% block content %}
	<!-- ##### Breadcumb Area Start ##### -->
	<div class="breadcumb_area bg-img" style="background-image: url(/static/index/img/bg-img/breadcumb.jpg);">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-12">
					<div class="page-title text-center">
						<h2>{{ category }}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ##### Breadcumb Area End ##### -->

	<!-- ##### Shop Grid Area Start ##### -->
	<section class="shop_grid_area section-padding-80">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4 col-lg-3">
					<div class="shop_sidebar_area">

						<!-- ##### Single Widget ##### -->
						<div class="widget catagory mb-50">
							<!-- Widget Title -->
							<h6 class="widget-title mb-30">Catagories</h6>

							<!--  Catagories  -->
							<div class="catagories-menu">
								<ul id="menu-content2" class="menu-content collapse show">
									<!-- Single Item -->
									<li data-toggle="collapse" data-target="#clothing">
										{% for tag in tags %}
										<a href="{% url 'shop' tag.name %}">{{tag.name}}</a>
										{% empty %}
											<p>No category avail, probably no product avail</p>
										{% endfor %}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-8 col-lg-9">
					<div class="shop_grid_product_area">
						<div class="row">
							<div class="col-12">
								<div class="product-topbar d-flex align-items-center justify-content-between">
									<!-- Total Products -->
									<div class="total-products">
										<p><span>{{ commodities | length }}</span> products found</p>
									</div>
									<!-- Sorting -->
									<!-- <div class="product-sorting d-flex">
										<p>Sort by:</p>
										<form action="#" method="get">
											<select name="select" id="sortByselect">
												<option value="value">Highest Rated</option>
												<option value="value">Newest</option>
												<option value="value">Price: $$ - $</option>
												<option value="value">Price: $ - $$</option>
											</select>
											<input type="submit" class="d-none" value="">
										</form>
									</div> -->
								</div>
							</div>
						</div>

						<div class="row">
							{% for item in commodities %}
								<!-- Single Product -->
								<div class="col-12 col-sm-6 col-lg-4">
									<div class="single-product-wrapper" data-id="{{item.pk}}">
										<!-- Product Image -->
										<div class="product-img">
											<img src="{{ item.picture1.url }}" alt="">
											<!-- Hover Thumb -->
											<img class="hover-img" src="{{ item.picture2.url }}" alt="">

											<!-- Product Badge -->
											<!-- <div class="product-badge offer-badge">
												<span>-30%</span>
											</div> -->
											<!-- Favourite -->
											<div class="product-favourite">
												<a href="#" class="favme fa fa-heart fav {% if item.pk in favourites %}active{% endif %}" data-action="{% if item.pk in favourites %}remove{% else %}add{% endif %}"></a>
											</div>
										</div>

										<!-- Product Description -->
										<div class="product-description">
											<a href="{% url 'product' item.pk %}">
												<h6>{{ item.title }}</h6>
											</a>
											<p class="product-price">{% if item.formerprice %}<span class="old-price">#{{ item.formerprice }}</span>{% endif %} #{{ item.price }}</p>

											<!-- Hover Content -->
											<div class="hover-content">
												<!-- Add to Cart -->
												<div class="add-to-cart-btn">
		                                        {% if item.pk in cartlist %}
		                                            <a href="#" class="btn essence-btn" data-action="remove">Remove Cart</a>
		                                        {% else %}
		                                            <a href="#" class="btn essence-btn" data-action="add">Add to Cart</a>
		                                        {% endif %}
		                                    </div>
											</div>
										</div>
									</div>
								</div>
							{% empty %}
								<p>No item for this category</p>
							{% endfor %}
						</div>
					</div>
					<!-- Pagination -->
					<nav aria-label="navigation">
						<ul class="pagination mt-50 mb-70">
							{% if page.has_previous %}
							<li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
							{% endif %}
							{% for p in page.page_range|slice:":5" %}
							<li class="page-item"><a class="page-link" href="#">{{ p }}</a></li>
							<!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">...</a></li> -->
							{% endfor %}

							{% if page.next_page_number > 5 %}
							<li class="page-item"><a class="page-link" href="#">{{ page.next_page_number }}</a></li>
							{% endif %}
							{% if page.has_next %}
							<li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- ##### Shop Grid Area End ##### -->
{% endblock %}